.listContainer {
  overflow: hidden;
  position: relative;
  margin: 12px;
}

.list {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
}

.listItem {
  min-width: 100px;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.meetingAvailable {
  border: 2px solid #f4cd6e;
}
